<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

    <%# ユーザープロファイルページにフォロワーの統計情報を追加 %>
    <section>
      <%= render 'shared/stats' %>
    </section>

    <%# ユーザープロファイルページにフォロー用のフォームを追加 %>
    <section>
      <%= render 'follow_form' if signed_in? %>
    </section>

  </aside>
  <div class="span8">

    <%# ユーザーのマイクロポストが1つもない場合に、空のリストが表示されないようにする %>
    <% if @user.microposts.any? %>
     <%# そのユーザーのツイート件数を表示 %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%# ツイート一覧を表示。OLタグは順序のあるリストを表示するタグ %>
        <%= render @microposts %>
      </ol>
      <%# ツイートのページネーションを表示 %>
      <%= will_paginate @microposts %>
                                          <%# このインスタンス変数は、ActiveRecord::Relationクラスのインスタンス %>
    <% end %>
  </div>
</div>